<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">

	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	<body>
		<nav>
			<ul>
				<li><a th:href="@{/simparty/categories/everything}">의상</a></li>
				<li><a th:href="@{/simparty/partyroom}">파티룸</a></li>
				<li><a th:href="@{/simparty/celebrity}">셀럽</a></li>
				<li><a th:href="@{/simparty/notice}">공지사항</a></li>
				<li><a th:href="@{/simparty/charge}">이용요금</a></li>
			</ul>
			<!--   카테고리   -->
			<form action="/simparty/categories/everything" method="get" id="keywordForm">
				<div class="input-group">
					<button class="btn_search" name="keyword" value="christmas">크리스마스</button>
					<button class="btn_search" name="keyword" value="tradition">전통복</button>
					<button class="btn_search" name="keyword" value="doll">인형탈</button>
					<button class="btn_search" name="keyword" value="uniform">유니폼</button>
					<button class="btn_search" name="keyword" value="movie">영화</button>
					<button class="btn_search" name="keyword" value="animation">애니메이션</button>
					<button class="btn_search" name="keyword" value="brider">브라이덜</button>
					<button class="btn_search" name="keyword" value="prin">공주왕자</button>
					<button class="btn_search" name="keyword" value="game">게임</button>
				</div>
			</form>
			<!--   /카테고리   -->
		</nav>



		<!-- Page content-->
		<div class="container-fluid">
			<th:block th:replace="${content}"></th:block>
		</div>



		<script th:inline="javascript">
			var searchForm = $("#keywordForm");
			$('.btn_search').click(function (e) {
				var type =""
				type += "<input type='hidden' name='type' value='k'>";
				type += "<input type='hidden' name='page' value='1'>";
				searchForm.append(type);

				searchForm.submit();
			});
			$('.btn_clear').click(function (e) {
				searchForm.empty().submit();
			});
		</script>

	</body>
</th:block>
</html>