<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:replace="~{./layout/index :: setContent(~{this::content})}">
	<th:block th:fragment="content">

		<h1 class="mt-4">Read Page</h1>
		<form action="" method="">

		<div class="form-group">
			<label >Nno</label>
			<input type="text" class="form-control" name="nno" th:value="${dto.nno}" readonly>
		</div>
		<div class="form-group">
			<label >Title</label>
			<input type="text" class="form-control" name="title" th:value="${dto.title}" readonly>
		</div>
		<div class="form-group">
			<label >Content</label>
			<textarea class="form-control" rows="5" name="content" readonly>[[${dto.content}]]</textarea>
		</div>
		<div class="form-group">
			<label >Writer</label>
			<input type="text" class="form-control" name="writer" th:value="${dto.writer}" readonly>
		</div>
		<div>
			<label >RegDate</label>
			<input type="text" class="form-control" name="modDate" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
		</div>
		<div>
			<label >ModDate</label>
			<input type="text" class="form-control" name="modDate" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
		</div>
		</form>

		<a sec:authorize="hasRole('ADMIN')" th:href="@{/templates/notice/modify(nno = ${dto.nno}, page = ${requestDTO.page})}">
			<button type="button" class="btn btn-primary">수정</button>
		</a>

		<button sec:authorize="hasRole('ADMIN')" type="button" class="btn btn-danger removeBtn">삭제</button>

		<a th:href="@{/notice(page = ${requestDTO.page})}">
			<button type="button" class="btn btn-info">목록</button>
		</a>

		<script th:inline="javascript">
			var actionForm = $("form"); // 태그 객체

			$(".removeBtn").click(function () {
				actionForm
						.attr("action", "/notice/remove")
						.attr("method", "post");
				console.log(actionForm);
				actionForm.submit();
			});
		</script>
	</th:block>
</th:block>
</body>
</html>