<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:replace="~{./layout/index :: setContent(~{this::content})}">
	<th:block th:fragment="content">
	<h1 class="mt-4">Clothes List Page </h1>

		<!--   검색창   -->
		<form action="/categories/everything" method="get" id="searchForm">
			<div class="input-group">
				<p>제품 이름<input type="text" name="name"></p>
				<input type='hidden' name='type' value='n'>
				<input type='hidden' name='page' value='1'>
				<input type="submit" value="Submit">
				<button class="btn btn-outline-secondary btn_clear" type="button">초기화</button>
			</div>
		</form>
		<!--   /검색창   -->

	<table class="table table-striped">
		<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Title</th>
			<th scope="col">Picture</th>
			<th scope="col">Regdate</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="dto : ${result.dtoList}">
			<th scope="row">
				<a th:href="@{/categories/read(cno = ${dto.cno}, page = ${result.page} )}">
					[[${dto.cno}]]
				</a>
			</th>
			<td> [[${dto.title}]] </td>
			<td><img th:if="${dto.imageDTOList.size() > 0 && dto.imageDTOList[0].folderPath != null }"
					 th:src="|/display?fileName=${dto.imageDTOList[0].getThumbnailURL()}|">
			</td>
			<td> [[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
		</tr>
		</tbody>
	</table>
	<ul class="pagination h-100 justify-content-center align-items-center">
		<li class="page-item" th:if="${result.prev}">
			<a class="page-link" th:href="@{/categories/everything(page= ${result.start-1})}" tabindex="-1">Previous</a>
		</li>
		<li th:class=" 'page-item ' + ${result.page == page ? 'active' : ''}" th:each="page: ${result.pageList}">
			<a class="page-link" th:href="@{/categories/everything(page= ${page})}">[[ ${page} ]]</a>
		</li>
		<li class="page-item" th:if="${result.next}">
			<a class="page-link" th:href="@{/categories/everything(page= ${result.end+1})}">Next</a>
		</li>
	</ul>
	<div sec:authorize="hasRole('ADMIN')">
		<span>
			<a th:href="@{/categories/register}">
				<button type="button" class="btn btn-outline-primary">REGISTER
				</button>
			</a>
		</span>
	</div>

		<script th:inline="javascript">
/*			var searchForm = $("#searchForm");
			$('.btn_title').click(function (e) {
				searchForm.submit();
			});*/
			$('.btn_clear').click(function (e) {
				searchForm.empty().submit();
			});
		</script>

	</th:block>
</th:block>
</html>