<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{./layout/index :: setContent(~{this::content})}">
	<th:block th:fragment="content">
		<h1 class="mt-4">Modify Page</h1>

		<form action="/categories/modify" method="post">
			<input type="hidden" name="page" th:value="${requestDTO.page}">

			<div class="form-group">
				<label >CNO</label>
				<input type="text" class="form-control" name="cno" th:value="${dto.cno}" readonly>
			</div>
			<div class="form-group">
				<label >Title</label>
				<input type="text" class="form-control" name="title" th:value="${dto.title}">
			</div>
			<div class="form-group">
				<label >Keyword</label>
				<input type="text" class="form-control" name="keyword" th:value="${dto.keyword}">
			</div>
			<div>
				<label >RegDate</label>
				<input type="text" class="form-control" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
			</div>
			<div>
				<label >ModDate</label>
				<input type="text" class="form-control" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
			</div>

			<a class="btn_plus" href="#">추가</a>
			<div class="uploadBooking">
				<ul class="booking_delete">
					<li th:each="booking: ${dto.bookingDTOList}"
						th:data-start="${#temporals.format(booking.startDate, 'yyyy-MM-dd HH:mm')}"
						th:data-end="${#temporals.format(booking.endDate, 'yyyy-MM-dd HH:mm')}">
						<label th:if="${not #strings.isEmpty(booking)}">예약시간</label>
						<a class='btn_delete' href='#'>삭제</a>
						<input type="text" class="form-control booking_start" name="startDate" th:value="${#temporals.format(booking.startDate, 'yyyy-MM-dd HH:mm')}">
						<input type="text" class="form-control booking_end" name="endDate" th:value="${#temporals.format(booking.endDate, 'yyyy-MM-dd HH:mm')}">
					</li>
				</ul>
			</div>

			<style>
				.uploadResult {
					width: 100%;
					background-color: gray;
					margin-top: 10px;
				}
				.uploadResult ul {
					display: flex;
					flex-flow: row;
					justify-content: center;
					align-items: center;
					vertical-align: top;
					overflow: auto;
				}
				.uploadResult ul li {
					list-style: none;
					padding: 10px;
					margin-left: 2em;
				}
				.uploadResult ul li img {
					width: 100px;
				}
			</style>
			<div class="uploadResult">
				<ul>
					<li th:each="img: ${dto.imageDTOList}"
						th:data-name="${img.fileName}"
						th:data-path="${img.folderPath}"
						th:data-uuid="${img.uuid}"
						>
						<button type="button" th:data-file="${img.getKey()}" class="btn-warning btn-sm">X</button><br>
						<img th:if="${img.folderPath != null}" th:src="|/display?fileName=${img.getThumbnailURL()}|"
							 th:data-file="${img.getThumbnailURL()}">
					</li>

				</ul>
			</div>
			<!-- 파일 업로드 처리하기 -->
			<div class="form-group fileForm">
				<label>Image Files</label>
				<div class="custom-file">
					<input type="file" class="custom-file-input files" id="fileInput" multiple>
					<label class="custom-file-label" data-browse="Browse"></label>
				</div>
			</div>
			<div class="box"></div>
		</form>

		<!--   버튼   -->
		<button type="submit" class="btn btn-primary">확인</button>
		<a th:href="@{/templates/categories/everything(page = ${requestDTO.page})}">
			<button type="button" class="btn btn-info">목록</button>
		</a>

		<script>
			$(document).ready(function (e) {
				var regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
				var maxSize = 10485760; // 10MB

				function checkExtension(fileName, fileSize) {

					if (fileSize >= maxSize) {
						alert("파일 사이즈 초과");
						return false;
					}

					if (regex.test(fileName)) {
						alert("해당 종류의 파일은 업로드 할 수 없습니다.");
						return false;
					}
					return true;
				}

				$(".custom-file-input").on("change", function () {

					var fileName = $(this).val().split("\\").pop();
					$(this).siblings(".custom-file-label").addClass("selected").html(fileName);

					var formData = new FormData();
					var inputFile = $(this);
					var files = inputFile[0].files;
					var appended = false;

					for (var i = 0; i < files.length; i++) {
						if (!checkExtension(fileName[i].name, files[i].size)) {
							return false;
						}

						console.log(files[i]);
						formData.append("uploadFiles", files[i]);
						appended = true;
					}

					// upload 를 하지 않는다.
					if (!appended) {
						return;
					}
					for (var value of formData.values()) {
						console.log(value);
					}

					//실제 업로드 부분
					//upload ajax
					$.ajax({
						url: '/uploadAjax',
						processData: false,
						contentType: false,
						data: formData,
						type: 'POST',
						dataType:'json',
						success: function(result){
							console.log(result);
							showResult(result);
						},
						error: function(jqXHR, textStatus, errorThrown){
							console.log(textStatus);
						}
					}); //$.ajax

				}); // end change event

				function showResult(uploadResultArr){

					var uploadUL = $(".uploadResult ul");

					var str ="";

					$(uploadResultArr).each(function(i, obj) {

						str += "<li data-name='" + obj.fileName + "' data-path='"+obj.folderPath+"' data-uuid='"+obj.uuid+"'>";
						str + " <div>";
						str += "<button type='button' data-file=\'" + obj.imageURL + "\' "
						str += "class='btn-warning btn-sm'>X</button><br>";
						str += "<img src='/display?fileName=" + obj.thumbnailURL + "'>";
						str += "</div>";
						str + "</li>";
					});
					console.log(str);

					uploadUL.append(str);
				} // end showResult

				$(".uploadResult ").on("click", "li button", function(e){
					console.log("delete file");

					if (!confirm("삭제하시겠습니까?")) {
						return;
					}

					var targetFile = $(this).data("file");
					var targetLi = $(this).closest("li");

					$.ajax({
						url: '/removeFile',
						data: {fileName: targetFile},
						dataType:'text',
						type: 'POST',
						success: function(result){
							alert(result);

							targetLi.remove();
						}
					}); //$.ajax
				}); // end uploadResult

				//prevent submit
				$(".btn-primary").on("click", function(e) {
					e.preventDefault();

					var img = "";
					var book= "";

					$(".uploadResult li").each(function(i,obj){
						var target = $(obj);

						img += "<input type='hidden' name='imageDTOList["+i+"].fileName' value='"+target.data('name') +"'>";
						img += "<input type='hidden' name='imageDTOList["+i+"].folderPath' value='"+target.data('path')+"'>";
						img += "<input type='hidden' name='imageDTOList["+i+"].uuid' value='"+target.data('uuid')+"'>";
					});
					$(".uploadBooking li").each(function(i, obj){
						var target = $(obj);

						book += "<input type='hidden' name='bookingDTOList["+i+"].startDate' value ='"+target.data('start')+"'>";
						book += "<input type='hidden' name='bookingDTOList["+i+"].endDate' value='"+target.data('end')+"'>";
						img += book;
					});

					$(".box").html(img);
					$("form").submit();
				}); // end btn-primaryh

				$(document).on('change', '.booking_start', function (i){
					$(this).attr('value', this.value);
					$(this).parents("li").attr('data-start', this.value);
				})
				$(document).on('change', '.booking_end', function (i){
					$(this).attr('value', this.value);
					// console.log($(this).attr('data-start', this.value));
					$(this).parents("li").attr('data-end', this.value);
				}) // 시간 수정작업을 위한 함수

				$('.btn_plus').on('click', function (){
					var str ='';
					str += "<li>";
					str += "<label>추가 할 예약시간</label>";
					str += "<a class='btn_delete' href='#'>삭제</a>";
					str += "<input type='text' class='form-control booking_start' name='startDate'>";
					str += "<input type='text' class='form-control booking_end' name='endDate'>";
					str += "</li>";
					console.log(str);
					$('.uploadBooking ul').append(str);
				})
				$(document).on('click', '.btn_delete', function () {
					$(this).parents("li").remove();
				})

			});
		</script> <!--document ready-->
	</th:block>
</th:block>
</body>
</html>