#readThumbnail {
    width: 500px;
    height: auto;
}

.thumbph {
    margin-bottom: 0px;

}

.thumbpb {
    margin-bottom: 15px;

}

.inputline {
    border:0 solid black;
    background: white;
}

.readbookLabel {
    margin-top: 20px;
}

.readbookInput {
    margin-top: 5px;
    margin-bottom: 10px;
}


#bookingToday, #bookingDay1, #bookingDay2 {
    position: relative;
    width: 100%;
    max-width: 1080px;
    height: 30px;
    background-color: grey;
}
#booking0, #booking1, #booking2, #booking3, #booking4, #booking5,
#booking6, #booking7, #booking8, #booking9, #booking10,
#booking11, #booking12, #booking13, #booking14, #booking15, #booking16,
#booking17, #booking18, #booking19, #booking20, #booking21,
#booking22, #booking23, #booking24, #booking25, #booking26, #booking27,
#booking28, #booking29, #booking30, #booking31, #booking32,
#booking33, #booking34 {
    position: absolute;
    left: 0%;
    width: 0%;
    height: 100%;
    background-color: yellow;
}

/* 하단부 프로필 */
.profile-img-footer {
    width: 100px;
    height: 100px;
    border-radius: 30%;
    overflow: hidden;
    margin: 0 auto;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgbox {
    width: 100%;
    height: auto;
}
.originalimg {
    width: 100%;
    max-width: 1080px;
    height: auto;
}